body {
    background-color: #d7ech5;
}
h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 54px;
}
header {
    background-color: #85ceed;
}
section {
    background-color: #b0e2f7;
}
footer {
    background-color: #43646e;
    text-align: center;
}
.information {
    background-color: #b2e3f7;
    margin-left: 400px;
    font-size: 25px;
}
.exp {
    margin-left: 400px;
    margin-top: -20px;
    font-size: 25px;
}
img {
    width: 400px;
    height: 400px;
    margin-left: 50px;
}
.info {
    border-collapse: collapse;
}
tr, td {
    text-align: left;
    padding: 4px;
}
.contact {
    text-align: center;
    font-size: 25px;
    padding: 3px;
    margin-top: -16px;
    font-family: italic;
    font-weight: bolt;
}
.link {
    margin-top: -15px;
    font-size: 16px;
}
.link a {
    margin: 0 20px;
}
a {
    color: rgb(218, 241, 247);
    text-decoration: none;
    font-family: italic;
    font-weight: bolt;
}
a:hover {
    color: #a5c9cc;
}
.photo {
    position: relative;
}
.photo span {
    display: none;
    color: rgb(66, 135, 245);
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 20px;
}
.photo:hover span {
    display: inline;

}














