body {
    background-color: #d7ech5;
}
h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
}
header {
    background-color: #85ceed;
}
section {
    background-color: #b0e2f7;
}
footer {
    background-color: #43646e;
    text-align: center;
}
.information {
    background-color: #b2e3f7;
    margin-left: 400px;
    font-size: 30px;
}
.exp {
    margin-left: 400px;
    margin-top: -10px;
    font-size: 30px;
}
img {
    width: 300px;
    height: 300px;
    margin-left: 20px;
}
.info {
    border-collapse: collapse;
}
tr, td {
    text-align: left;
    padding: 4px;
}
.contact {
    text-align: center;
    font-size: 25px;
    padding: 3px;
    margin-top: -16px;
    font-family: italic;
    font-weight: bolt;
}
.link {
    margin-top: -15px;
    font-size: 16px;
}
.link a {
    margin: 0 20px;
}
a {
    color: black;
    text-decoration: none;
    font-family: italic;
    font-weight: bolt;
}
a:hover {
    color: #474747e3;
}
.photo {
    position: relative;
}
.photo span {
    display: none;
    color: rgb(18, 33, 165);
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 15px;
}
.photo:hover span {
    display: inline;

}








