body {
    background-color: #f4f4f9;
}
h1 {
    text-align: center;
}
header {
    background-color: #d6d6da;
}
section {
    background-color: #e6e6e9;
}
footer {
    background-color: #cdcdcf;
    text-align: center;
}
.information {
    background-color: #f4f4f9;
    margin-left: 200px;
    margin-top: -200px;
}
.exp {
    margin-left: 200px;
    margin-top: -10px;
}
img {
    width: 200px;
    height: 200px;
}
.info {
    border-collapse: collapse;
}
tr, td {
    text-align: left;
    padding: 4px;
}
.contact {
    text-align: center;
    font-size: 18px;
    padding: 3px;
    margin-top: -16px;
}
.link {
    margin-top: -15px;
    font-size: 16px;
}
.link a {
    margin: 0 10px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #474747e3;
}
.photo {
    position: relative;
}
.photo span {
    display: none;
    color: rgb(18, 33, 165);
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 5px;
}
.photo:hover span {
    display: inline;
}